
body{
  background-color: orange;
}
h1{
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  color: red;
}
h3{
  font-weight: normal;
  font-size: 35px;
  font-family: Arial;
}
div p{
  color: blue;
  font-size: 30px;
}

